<section class="hero is-info is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://vetvet.co/logo_mark-3de2ef3a4613e493a92ed25eb63db485.png" alt="VetVet Logo">
            VetVet Restaurants
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Look for a restaurant!
      </p>
      <div class="field">
        <p class="control is-expanded has-icons-right">
          <input class="input" type="search" placeholder="Cuisine or city..."/>
          <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
        </p>
     </div>
    </div>
  </div>
</section>