{{page-title "Frontend"}}

<AppHeader />

<div class="container mt-5 px-4">
  <div class="columns">
    <div class="column isfull-mobile is-half-tablet is-one-third-desktop">
      <RestaurantCard />
    </div>
  </div>
</div>
{{outlet}}